{% load i18n staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dspan">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>私募网</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/static/css/reset.css" type="text/css" rel="stylesheet">
<link href="/static/css/common.css" type="text/css" rel="stylesheet">
<link href="/static/css/style.css" type="text/css" rel="stylesheet">
<link href="/static/css/user_center.css" type="text/css" rel="stylesheet">
</head>

<body>
<div id="header" >

  <div class="overall">
 
      <h1 class="logo"><a href="index.html" title="私募888">私募888</a></h1>
      
      <div class="header_nav">
    <a href="">设为首页</a>
  <a href="">加入收藏</a>
  <a href="">联系我们</a>
  <a href="">English Version</a>
    </div>
</div>
</div>
<div id="nav">
    <ul>
      <li class="selected"><a href="/" title="首页">首页</a></li>
      <li><a href="/spzh.html" title="">实盘账户展示 </a></li>
      <li><a href="/dyzh.html" title="">单一账户理财</a></li>
      <li><a href="/smjj.html" title="">私募基金产品</a></li>
      <li><a href="/zzvip.html" title="">至尊vip客户</a></li>
      <li><a href="/about.html" title="">红马简介</a></li>
	  <li><a href="/company.html" title="">操盘团队</a></li>
      <li><a href="/services.html" title="">服务内容</a></li>
    </ul>
    <div class="clear"></div>
</div>
<!--注册模块-->
<div class="reg_main"> 
<h3><span class="blue">注册</span>账号<em>( 已经有账号？ <a href="{% url "login" %}" class="">登录</a> )</em></h3>
 <form method="post" action="." class="form-register" role="form">{% csrf_token %}
	<div class="reg_con">
	<ul>
                    {% for field in form %}
						<li>
							<span class="tit">{{ field.label }}：</span>
							<span><div >{{ field }}</div>
								<div class="field"><div class="val_field_tips" style="color:red;">{{ field.errors|striptags }}</div></div>
							</span>
						</li>	
                        
                    {% endfor %}
		<li>
		<span class="tit"> &nbsp;</span>
		<span><label for="textarea">
			<input type="submit" name="button" value="立即注册" class="submit_blue_btn fl" id="reg_submit">
			</label>
			
			<div id="success" class="fl"></div>
			</span>
		</li>
		
	</ul>
</form>
</div>

<div class="clear"></div>
</div>
{% include 'foot.html'%}
</body>
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/common.js" type="text/javascript"></script><script src="/static/js/reg_validate.js" type="text/javascript"></script>
</html>
