/*åˆ‡æ¢æ ‡é¢˜*/
.secTab160 span,.secTab160 .on,.secTab span,.secTab .on,.tit09 dt,.tit09 .on,.titletab span,.titletab .on {background-image:url(/images/tabbg.png);background-repeat:no-repeat;}
.secTab { line-height:24px; height:28px} 
.secTab span {background-position:-136px -77px; width:64px;margin:0 6px; text-align:center; font-weight:bold;color:#fff;cursor:pointer; float:left;}
.secTab .on {background-position:-136px -49px;padding-bottom:4px}

.secTab160 { line-height:22px; height:26px} 
.secTab160 span {background-position:0 -26px; width:160px;margin:0 6px; text-align:center; font-weight:bold;color:#fff;cursor:pointer; float:left;}
.secTab160 .on {background-position:0 0;padding-bottom:4px}

.tit09 dt {background-position:0 -79px; height:24px; width:80px; text-align:center; color:#fff; float:left;margin-right:1px; display:inline;}
.tit09 .on {background-position:0 -49px;}

.titletab {
	height:25px;
	line-height:25px;
	overflow:hidden;
	font-size:12px;
	cursor:pointer;
	position:absolute;
	top:1px;
	left:120px;
	font-weight:normal
}
.titletab span {display:block;float:left;padding:0 8px;margin-right:1px; border:#c60000 solid 1px; border-bottom:0 none; text-align:center;background-position:0 -208px;}
.titletab .on {background-color:#fff;background-position:0 -233px;border-bottom:#fff solid 3px;font-weight:bold;}

/*å†…å®¹æ ·å¼*/
.imgnews { overflow:hidden;zoom:1}
.imgnews .img {float:left; padding:5px 10px 5px 0;_padding-right:7px;background-color:#fff;display:inline; font-size:0}
.imgnews p {line-height:22px; font-size:12px;}
.imgnews p span a {}

.redbordrl {background:url(/images/redbdr.gif) repeat-y left; padding:6px 5px 6px 8px;}
.redtitbg {background-repeat:no-repeat;background-position:right -330px;padding:0 10px; display:inline-block; height:24px;}
.titinfo {color:#9f9f9f;padding-left:20px; font-weight:normal}
.stit {background-position:right -340px;color:#5D5D5D;font-weight:normal;padding-right:8px; font-size:12px;margin-left:20px}
.rgraybg { background-repeat:no-repeat;background-position:left -386px;padding:6px 6px 0 8px}

/*æ™´é›¨è¡¨*/
.weather {font-size:12px; overflow:hidden;_zoom:1;padding:3px;margin-bottom:3px;background:url(/images/wbg.png) repeat-x bottom; border-bottom:#e2e2e2 solid 1px}
.weatherl {width:80px;margin-right:8px;font-size:12px; float:left;line-height:18px; text-align:center; border-right:#e2e2e2 solid 1px}
.weatherl img { vertical-align:middle;}
.weather p {line-height:18px; padding-top:8px;}

/*åˆ‡æ¢èœå•*/
.taglist {line-height:24px;}
.taglist .on {background-repeat:no-repeat;background-position:left -113px; border-left:#e2e2e2 solid 1px; cursor:pointer; float:left; width:66px; text-align:center; font-weight:bold;height:25px;color:#c60000}
.taglist .on a {color:#c60000}
.taglist .star { border:none}
.taglist ul { overflow:hidden;zoom:1}
.taglist ul li {background-repeat:no-repeat;background-position:left -136px; border-left:#e2e2e2 solid 1px; cursor:pointer; float:left; width:66px; text-align:center;}

/*è¡Œæƒ…*/
.market {}
.market table { clear:both}
.market table td { line-height:24px;padding:5px 0}
.mradio { line-height:18px; text-align:center}
.mradio span input { height:18px;vertical-align:middle;}
.mradio span {padding-right:10px; display:inline-block}

.search, .data_search{ text-align:center; clear:both;}
.search span input,.data_search span input{ height:18px;margin-right:5px;line-height:18px;}
.search span input {width:175px;}
.data_search span input {width:118px;}
.data_search span { display:inline-block}
.data_search img { width:16px; vertical-align:middle}

/*æŠ•ç¥¨*/
.votebar {background:#f1f1f1; height:12px;margin:6px 0; text-align:left}
.votebar span { font-size:12px; line-height:12px; float:right}
.vote01,.vote02,.vote03,.vote04,.vote05,.vote06,.vote07,.vote08 {height:10px; line-height:10px; overflow:hidden;}
.vote01 { border:#1972cc solid 1px; background:#5bb2ed;}
.vote02 { border:#44ac0b solid 1px; background:#5cd807;}
.vote03 { border:#b702c8 solid 1px; background:#ca1ed5;}
.vote04 { border:#ba6c0c solid 1px; background:#f3aa02;}
.vote05 { border:#e94367 solid 1px; background:#fd5d67;}
.vote06 { border:#232323 solid 1px; background:#6a6a6a;}
.vote07 { border:#d75a0b solid 1px; background:#e46600;}
.vote08 { border:#c60000 solid 1px; background:#ff3300;}

.cpbox {}
.cpbox span {line-height:24px;display:block;overflow:hidden } 
.cpbox span a {width:90px;margin-left:10px; display:inline-block; float:left;background-repeat:no-repeat;background-position:-4px -334px;padding-left:20px}
 
/*å¾®åš*/
.twt { /*text-align:center; */font-family:\5B8B\4F53,serif}
.twt ul {margin:5px 10px; text-align:left;}
.twt ul li {background:url(/static/images/dashline.gif) repeat-x bottom;/*margin-bottom:4px;*/padding-bottom:5px; line-height:18px}
.twt ul li a {color:#404040;}
.twt ul li p {line-height:24px;}
.twt ul li span ,.twt b{padding-right:10px}

/*å‘¨åˆŠ*/
.weekly { clear:both; overflow:hidden;zoom:1}
.weekly img { float:left;margin-right:10px; display:inline;padding:0; border:0 none}
.weekly p { line-height:18px;margin-bottom:10px}
.weekly h1 { font-family:\9ED1\4F53; font-size:18px; text-align:left; font-weight:normal; line-height:24px;}
.weekly span input { height:18px; width:100px;margin-right:10px;line-height:18px;}

/*è‚¡ç¥¨å’¨è¯¢*/
.question,.answer {padding-left:18px;margin-right:10px}
.question {background-position:0 -67px; }
.answer {background-position:0 -99px; font-size:14px}

.Tab01 {font-size:12px; line-height:24px}
.Tab01 td {border-left:#fff solid 1px;border-right:#fff solid 1px;font-size:12px;padding:0 3px; text-align:center}
.Tab01 .title {font-weight:bold; font-size:14px; text-align:center}
.Tab01 .title02 { line-height:30px}
.Tab01 img { vertical-align:middle; width:68px; height:14px}
.Tab01 .graybg {background:#efefef;}
.Tab01 p { line-height:18px; text-align:left}

.Tab02 {font-size:12px; line-height:24px;border-top:#e7e7e7 solid 1px;border-left:#e7e7e7 solid 1px;}
.Tab02 td {border-bottom:#e7e7e7 solid 1px;border-right:#e7e7e7 solid 1px;font-size:12px;padding:3px;background:url(/images/wbg.png) repeat-x;}
.Tab02 p {}

/*å‹æƒ…é“¾æŽ¥*/
.friendLink {clear:both; border:#e2e2e2 solid 1px;margin:10px auto; padding:4px 9px; text-align:left;}
.friendLink ul {font-size:12px; overflow:hidden;_zoom:1;margin-left:30px;}
.friendLink ul li { padding:0 5px; line-height:24px; float:left;}

/*ä¸‹è½½åŒº*/
.downinfo { line-height:18px;text-align:center;}
.downinfo p { text-align:left}
.downinfo img {margin:5px auto;  width:230px}
.downinfo span {display:inline-block;margin-right:10px}
.downinfo .video {background-position:0 -36px;padding-left:20px}

/*æ³¨å†ŒåŒº*/
.reg01,.reg02,.reg03 {padding-left:15px;padding-right:0;display:block}
.reg01 {background-position:0 -217px;}
.reg02 {background-position:0 -186px;}
.reg03 {background-position:0 -246px;}

/*è¯„è®ºåˆ—è¡¨*/
.comlist {margin:10px 0}
.comlist h2 {line-height:36px; padding:0 10px; font-size:14px}
.comlist ul {}
.comlist ul li {background:url(/static/images/dashline.gif) repeat-x bottom;margin-top:2px;padding:5px 15px;line-height:24px}
.comlist ul li a {color:#049}
.comlist ul li dt { font-size:12px; line-height:30px;}
.comlist ul li dt i {padding-right:10px}
.comlist ul li p { font-size:14px; line-height:24px}
.comlist ul li p img { display:block;margin:5px 0}
.comlist .tools { text-align:right;}
.comlist .tools a {padding-left:15px}
.comlist .graybg {background:#f4f4f4 url(/static/images/dashline.gif) repeat-x bottom;}
.comlist .newTopic { display:inline-block; background-color:#fdfbee; border:#c60000 solid 1px;padding:0 5px; line-height:18px;margin-right:10px}

.intro { background-color:#fffef3; border:#f8df94 solid 1px;padding:10px;margin:10px}
.intro p {line-height:24px;}

/*å‘è¡¨è¯„è®ºåŒº*/
.accoutit {background-position:2px -242px;padding-left:20px; line-height:30px; height:30px;margin:0 10px}
.publish,.detailinfo  {border-top:#e2e2e2 solid 1px;background-repeat:no-repeat;padding:0 10px; overflow:hidden; zoom:1;}
.publish b {line-height:32px;}
.publish div { line-height:30px;display:block}
.accoutit a {color:#c60000}
.publish .pubbtn { text-align:right; line-height:36px; height:36px;margin:10px 0 0}
.pubbtn span {padding:0 5px}
.publish .pubbtn input { width:54px; vertical-align:middle}
.pubinput {border:#e2e2e2 solid 1px; border-top:#c3c3c3 solid 1px; border-left:#c3c3c3 solid 1px;width:660px; height:8em;line-height:18px; font-size:14px;}/*background:#fff url(/images/inputlogo.png) no-repeat center center; */

/*æ–‡ç« è¯¦ç»†é¡µ*/
.artTab {margin:0 0 10px;padding:0 10px;overflow:hidden;line-height:26px;height:26px; font-size:12px;background:url(/images/Mtabbg.gif) repeat-x bottom; text-align:left}
.artTab span{display:block;float:left;color:#222;height:25px;line-height:25px;cursor:pointer;text-align:center;padding:0 10px;background:#f2f2f2 url(/images/Mtabbg.gif) no-repeat bottom;margin:0 1px; border:#e2e2e2 solid 1px;border-bottom:0 none;}
.artTab .TabOn{background-repeat:repeat-x;background-position:left -134px;border-bottom:0; font-weight:bold}
.artBar { overflow:hidden;zoom:1; position:relative}
.colorBar { position:absolute;top:0; left:530px; line-height:19px;}
.colorBar img {width:18px; vertical-align:middle;margin:0 5px;cursor:pointer}
.colorBar span {display:inline-block;}
.b_white,.b_blue,.b_yellow,.b_green {cursor:pointer;height:8px;margin-right:6px;overflow:hidden;text-indent:-10em;width:8px;}
.b_white {background-color:#fff; border:#e2e2e2 solid 1px;}
.b_blue {background-color:#36c; border:#049 solid 1px;}
.b_yellow {background-color:#f8df94; border:#ffcc00 solid 1px;}
.b_green { background-color:#fafff0; border:#690 solid 1px}

.arTitle {margin-bottom:10px; padding:0 10px}
.arTitle h1 {font-family:\9ED1\4F53; line-height:36px;margin-top:10px; font-weight:normal; font-size:20px; color:#222}
.arTitle p {line-height:30px;}

.artText {padding:0 10px;line-height:24px; font-size:14px;text-align:justify;word-wrap:break-word;}
.artText p {display:block;margin:1em 0;line-height:24px;font-size:14px;}

.textKeyword { font-size:14px; line-height:24px;margin:1em 0;padding-top:60px}
.textKeyword a {margin-right:10px; text-decoration:underline}

.textTools { line-height:18px; height:18px; padding:0 6px}
.textTools a {margin-right:-2px; display:inline-block}
.isina,.ikaixin,.irenren,.idouban,.email,.copylink,.rss,.print {background-image:url(/images/toolsico.png); background-repeat:no-repeat;padding-left:20px;padding-right:6px;}
.isina { background-position:0 0;}
.ikaixin {background-position:3px -30px;}
.irenren {background-position:4px -60px;}
.idouban {background-position:3px -90px;}
.email {background-position:2px -147px;}
.copylink {background-position:0 -179px;}
.rss {background-position:3px -120px;}
.print {background-position:3px -210px;}

/*pages*/
.pages {padding-bottom: 3px;margin:10px; padding-top: 3px; text-align: right}
.pages A {border:#D9DAD9 1px solid; padding-right: 6px; background-color:#fff;padding-left: 6px; padding-bottom: 2px;color:#404040;margin-right: 3px; padding-top: 2px;text-decoration: none}
.pages A:hover {border:#333 1px solid;color: #fff;background-color: #C60000}
.pages A:active {border: #333 1px solid;color: #fff;background-color: #C60000}
.pages SPAN.current {padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 2px; COLOR: #c60000;margin-right: 3px; padding-top: 2px}
.pages SPAN.disabled {padding-right: 6px; padding-left: 6px; padding-bottom: 2px;color:#4B4B4B;margin-right: 3px; padding-top: 2px}
.pages i input { height:18px; width:32px;margin:0 5px}

.tactable {border-left:#e2e2e2 solid 1px; border-top:#e2e2e2 solid 1px;}
.tactable td {line-height:24px;height:24px;border-right:#e2e2e2 solid 1px; border-bottom:#e2e2e2 solid 1px;padding:0 3px; text-align:center}
.tactable td p { text-align:left; line-height:18px;}
.tactable .title {font-weight:bold; text-align:center; background:#f1f1f1; font-size:12px}
.tactable .graybg {background:#f8f8f8}

.hotable {border-left:#333 solid 1px; border-top:#333 solid 1px;}
.hotable td {line-height:24px;height:24px;border-right:#333 solid 1px; border-bottom:#333 solid 1px;padding:0 3px;font-size:12px }
.hotable td p { text-align:left; margin-top:0;font-size:12px}
.hotable .title {font-weight:bold; text-align:center; background:#f1f1f1; font-size:12px; line-height:18px}

.contrl {line-height:24px; display:inline;_padding-top:5px}
.contrl span input,.contrl span img {vertical-align:middle;margin-left:10px;margin-right:3px;}
.contrl span input {height:12px; width:12px;}
.contrl span img {height:10px; width:10px;}

/*æ¿å—*/
.plateInfo,.stockInfo {padding:0 10px}
.plateInfo a,.stockInfo a {color:#049}
.plateInfo h1 span,.stockInfo ul li h2,.stockInfo h1 i { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:20px; font-weight:600}
.plateInfo h1,.stockInfo h1 {font-family:\9ED1\4F53; font-size:20px; line-height:44px;text-align:left; overflow:hidden; font-weight:normal}
.plateInfo h1 div,.stockInfo h1 span { font-family:\5B8B\4F53}
.plateInfo p,.stockInfo p {line-height:24px}
.plateInfo p span a,.stockInfo p span a {margin-right:10px}

/*ä¸ªè‚¡*/
.stockInfo {}
.stockInfo h1 {}
.stockInfo h1 span { font-size:12px; font-weight:normal;}
.stockInfo ul { overflow:hidden; zoom:1}
.stockInfo ul li { width:110px; float:left;text-align:center;}
.stockInfo ul li h2 {line-height:42px}
.stockInfo ul li img {float:right;margin-top:-28px;}
.stockInfo .star {text-align:left}

.imgTable { font-size:12px; line-height:24px}
.imgTable td {padding:5px; vertical-align:top}

/*ä¸‹æ‹‰å¯¼èˆª*/
.stNav {background:url(/images/stnavBg.png) no-repeat; height:52px; line-height:52px;padding:0 15px;margin-bottom:10px;position:relative}
.crtName {font-family:\9ED1\4F53; font-size:20px;}
.select_box {width:222px;background:url(/images/selbox.png) no-repeat;position:relative;}
.select_box span {cursor:pointer; display:block; line-height:25px; width:100%; height:27px; overflow:hidden; font-weight:bold;padding-left:10px}
.select_box ul li {cursor:pointer;}
.son_ul {width:220px; position:absolute; left:0; top:27px; border:1px dashed #ccc; background:#fff; z-index:9999}
.son_ul li {display:block; line-height:25px; padding-left:10px; width:210px}
.hover {background-color:#f2f2f2;}

/*é¢„æµ‹*/
.forecast { margin:10px auto 0; position:relative; background:url(/pics/forbg.png) no-repeat center 10px; height:65px; width:268px}
.others,.my { position:absolute; text-align:center; color:#fff;line-height:16px; cursor:pointer}
.others { width:90px;height:21px;background:#fff url(/pics/others.png) no-repeat center; top:2px}
.my { width:72px;background:url(/pics/my.png) no-repeat center;padding-top:5px;top:32px; height:16px;}
.forData {position:absolute;_top:10px; top:0; left:280px; width:120px; text-align:center}
.forData p {font-size:42px; font-family:Tahoma, Geneva, sans-serif; line-height:48px}
.InforTips {background-color:#fffef3; border:#f8df94 solid 1px;padding:0 2px 0 6px; z-index:1; position:absolute;-webkit-box-shadow:1px 1px 2px #999;-moz-box-shadow:1px 1px 2px #999}
.InforTips p {line-height:18px;_padding-top:3px}
.InforTips img { position:absolute;top:5px; left:-6px}
.InforTips .close { float:right; cursor:pointer; color:#c60000; font-size:9px;}

.ForecastTR{ display:none;}
.forecast568 { margin:10px auto; position:relative; background:url(/pics/forbg566.png) no-repeat center; height:55px; width:568px}
