@charset "utf-8";
/* CSS Document */


#index_adv{float:left;width:250px;}
#index_adv img{height:250px;background:#fff;width:250px;margin-right:16px;float:left;margin-top:10px;}
#index_adv .mr0{margin-right:0;float:left;}

#main{padding:20px 0;background:#fff;}


#index_article{padding: 0;background:#fff;float:right;width:730px;}
#index_article .index_article_list{float:left;background:#fff;border-left:1px solid #ddd;}
#index_article .switchBox{border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
#index_article  .switchBox{width:343px;padding:10px;float:left;}
.adv_img{margin:15px 0;}
#index_article .mr0{margin-right:0;}

#index_article h2 {
	background:#c01921;
	font:16px "微软雅黑";
	height:35px;
	line-height:35px;
	padding-left:10px;
	color:#fff;
}
.index_article_list h3{height:30px;line-height:30px;padding-left:10px;border-left:5px solid #c12226;}
.index_article_list h3 .more{float:right;background:url(../images/more.png) no-repeat 0 10px;display:inline-block;height:30px;width:50px;}
.index_article_list .tabs_con{padding:10px;}
.index_article_list .tabs_con li{height:30px;line-height:30px;overflow:hidden;}
.index_article_list .tabs_con li a{height:30px;line-height:30px;overflow:hidden;padding-left:10px;background:url(../images/point.png) no-repeat 0 3px;}
.index_article_list .tabs{border-bottom:1px solid #ddd;float:left;padding:5px 5px 0 5px;width:232px}
.index_article_list .tabs li {float:left;height:24px;line-height:24px;padding:0 3px;border-radius:3px 3px 0 0;margin-right:1px;}
.index_article_list .tabs li:hover{background:#eee;border-radius:3px;cursor:pointer;}
.index_article_list .tabs .on {float:left;height:24px;line-height:24px;padding:0 10px;border-radius:3px 3px 0 0;background:red;color:#fff;}
.index_article_list .tabs .on:hover {float:left;height:24px;line-height:24px;padding:0 10px;border-radius:3px 3px 0 0;background:red;color:#fff;}




/* 弹窗  */
.login{height:340px;}
.home_login {padding: 10px;background:#978e85;}
.home_prompt{ z-index:2;color:#f17975; height:30px; line-height:30px; display:block; border:1px solid #fadcd3; width:225px; top:0; padding-left:25px; border-radius:2px; font-size:14px; display:none; left:0;  }
.home_login dl{}
.home_login .after {}
.home_login .before dt { font-size: 14px; height: 40px; line-height: 40px; }
.home_login_tit span { font-size: 18px;color:#fff; }
.forget_password { }
.forget_password a { font-size: 12px; color: #999; }
.forget_password .r { font-weight: bold; font-size: 12px; color: #f80; }
.home_login dd { margin-bottom: 10px; }
.home_login input { height: 20px; line-height: 20px; width: 220px; color: #b3b3b3; font-size: 12px; padding:6px 5px;}
.home_login_name { background: url(../images/name.png) no-repeat 220px center #fff; }
.home_login_pwd { background: url(../images/pwd.png) no-repeat 220px center #fff; }
.home_login .home_login_captchae { width: 150px; background: url(../images/captchae.png) no-repeat 230px center #fff; float: left; }
.home_login_captchae_pic { float: right; }
.home_login_btn a { font-size: 18px; height: 32px; line-height: 32px; text-align: center; width: 65px; display: block; color: #fff;float:left;  margin-right:10px;}
.home_login_btn .login_btn{background:#ae080a;}
.home_login_btn .reg_btn{background:#ccc}

.home_login_btn a:hover {  text-decoration: none; }
/* 登陆前 */
.after { padding-bottom: 10px; }
.after dt { height: 40px; line-height: 40px; font-size: 14px; border-bottom:1px solid #999;color:#ccc }
.after dt b{font-size:18px;font-weight:bold;color:#f90}
.after dd { font-size: 14px;color:#eee; }
.after .my_name { color: #fff;  font-weight: bold; font-size: 16px; }
.after .my_id a{font-size:12px; color: #f90;font-weight:normal;margin-left:10px;}
.after .my_id { color: #fff;   font-size: 12px; }
.after .my_id span{color:#fff}
.after .my_id b{font-size:16px;font-weight:bold;}

#index_banner{position:absolute;top:0;width:100%;height:460px;overflow:hidden;}
#index_banner .overall{height:350px;position:relative;}
.switch_btn ul{position:absolute;bottom:0;left:400px;}
.switch_btn ul li{height:20px;width:20px;float:left;margin-right:10px;background:#fff;text-indent:-9999em;border-radius:3px;}
.switch_btn ul .selected{background:#f00;} 

.banner{ height:460px;position:relative;}
.banner .pic{ height:460px; width:100%; overflow:hidden;}
.banner .pic ul{width:100%;position:absolute;}
.banner .pic li{width:100%;}
.banner .pic a{ width:100%; height:460px; display:block;}
.banner .rel { height: 460px; }
.switch_btn {  bottom: 10px; left: 480px;position:absolute;z-index:20000; }/* bottom: 10px; left: 480px; */
.switch_btn li { width: 13px; height: 13px; float: left; margin-left: 10px; background: #fff; cursor: pointer;border-radius:3px;text-indent:-9999em; }
.switch_btn .curr { background: #f60; }