body {font-size: 12px; margin: 0px;font-family:Arial, Helvetica, sans-serif,\5B8B\4F53;word-break:break-all; background:#fff repeat-y center; text-align:center; color:#404040}
a {color:#404040; text-decoration:none}
a:hover {color:#c60000; text-decoration:underline}
h1 a,h2 a {color:#222}
form,input,select,ul,li,p,h1,h2,h3,h4,h5,h6,p,dl,dt,dd { margin:0; padding:0; text-indent:0}
body,td,select,input{ font-size:12px;color:#333}
ul,li{ list-style:none}
img,a img{border:0 none}
p {line-height:18px;margin:0; padding:0; text-indent:0}
hr {margin:0;padding:0; height:1px; overflow:hidden; border:0 none}
i {font-style:normal}

.over220 li,.over235 li,.over250 li,.over260 li,.over280 li,.over290 li,.over320 li,.over340 li,.over360 li,.over370 li,.over400 li,.over410 li ,.sp235,.sp250,.sp260,.sp270,.sp280,.sp290,.sp320,.sp360,.sp370,.sp380,.sp400,.sp410,.over300 li {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.over220 li {width:220px}
.over235 li {width:235px}
.over250 li {width:245px}
.over260 li {width:260px}
.over280 li {width:280px}
.over290 li {width:288px}
.over320 li {width:320px}
.over340 li {width:345px}
.over360 li {width:360px}
.over370 li {width:370px}
.over380 li {width:385px}
.over400 li {width:400px}
.over410 li {width:410px}

.sp235 {width:235px}
.sp250 {width:250px}
.sp260 {width:260px}
.sp270 {width:270px}
.sp280 {width:290px}
.sp290 {width:300px}
.sp320 {width:330px}
.sp360 {width:360px}
.sp370 {width:380px}
.sp380 {width:380px}
.sp400 {width:400px}
.sp410 {width:410px}

.orange,.orange a {color:#d75100}
.red,.red a {color:#c60000}
.green,.green a {color:#009800}
.blue,.blue a  {color:#049}
.gray,.gray a {color:#888}
.gray a {text-decoration:none}
.gray a:hover { color:#c60000}

.eng { font-size:10px; font-weight:normal;padding-left:10px}

.more{font-family:\5B8B\4F53;float:right;background-position:right -332px;color:#5D5D5D; font-weight:normal;padding-right:8px; font-size:12px}
.more a:link,.more a{color:#5D5D5D}
.more2 {background-position:right -336px}
.more3 {background-position:-24px -338px; line-height:18px;padding-left:10px;margin-left:10px}
.clear{height:1px; margin-top:-1px;clear:both;overflow:hidden}

.m10px {margin:10px}
.p10px {padding:10px}
.lrp10px {padding:0 10px}
.lrm10px {magin:0 10px}
.pbt10 {padding-top:10px}
.mart {margin-top:10px}
.martie6 {_margin-top:10px}
.marb {margin-bottom:10px}
.nopdb {padding-bottom:0}
.pdb10 {padding-bottom:10px}
.graybdr { /*border:#e2e2e2 solid 1px; */overflow:hidden;zoom:1}
.graybt { border-bottom:#e2e2e2 solid 1px}
.f12px{font-size:12px}
.f14px{font-size:14px}
.f16px{font-size:16px}
.left{float:left;display:inline}
.right{float:right; display:inline}
.hidden{display:none}
.dashline {background:url(/images/dashline.gif) repeat-x bottom; margin-bottom:4px;padding-bottom:5px}
.tright {text-align:right}
.cetr {text-align:center}
.cetr img {border:#f2f2f2 solid 1px; padding:4px; text-align:center}
.fwn {font-weight:normal}
.borderR {border-right:#e2e2e2 solid 1px;padding-right:9px}
.tbdr0 { border-top:0 none}
.imptBox { border:#f8df94 solid 1px}
.solid2 { border-bottom:#bfbfbf solid 2px; padding-bottom:10px;margin-bottom:10px}
/*按钮*/
.btn54_out,.btn54_on,.btn82_out,.btn82_on,.btn50_out,.btn50_on,.searchbtn_out,.searchbtn_on,.redbtn_out,.redbtn_on,.redbtn50_out,.redbtn50_on,.btn70_out,.btn70_on {background:url(/images/tabbg.png) no-repeat;cursor:pointer;vertical-align:middle;border:0 none}
.btn54_out,.btn54_on {width:54px; height:20px;line-height:20px; text-align:center;font-size:12px}
.btn54_out {background-position:0 -110px; color:#404040}
.btn54_on {background-position:0 -130px; color:#775319}

.btn82_out,.btn82_on {width:82px; height:20px;line-height:20px; text-align:center;font-size:12px}
.btn82_out {background-position:-55px -130px; color:#775319}
.btn82_on {background-position:-55px -110px;color:#404040}

.btn50_out,.btn50_on {width:50px; height:22px;line-height:22px; text-align:center;font-size:12px}
.btn50_out {background-position:-79px -151px; color:#404040}
.btn50_on {background-position:-79px -173px; color:#775319}

.btn70_out,.btn70_on {width:70px; height:26px;line-height:26px; text-align:center;font-size:12px}
.btn70_out {background-position:-130px -151px; color:#404040}
.btn70_on {background-position:-130px -177px; color:#775319}

.searchbtn_out,.searchbtn_on {width:78px; height:28px;line-height:28px; text-align:left;padding-left:16px;font-weight:bold; color:#c60000; font-size:14px}
.searchbtn_out {background-position:0 -151px}
.searchbtn_on {background-position:0 -179px}

.redbtn_out,.redbtn_on {width:60px; height:20px;line-height:20px; text-align:center;color:#fff; font-size:12px}
.redbtn_out {background-position:-140px -110px}
.redbtn_on {background-position:-140px -130px}

.redbtn50_out,.redbtn50_on {width:50px; height:24px;line-height:24px; text-align:center;color:#fff; font-size:12px}
.redbtn50_out {background-position:-83px -49px}
.redbtn50_on {background-position:-83px -73px}

.list table td textarea,.search span input,.data_search span input,.weekly span input,.toplogin span input,.list table td span input,.sidersearch p span input,.faqso span input,.stocks span input,.TabEmail span input,.tacregbar span input,.pages i input,.chooseTools td input,.userTitle input,.frame,.RegFrame input,.LoginFrame input,.ModFrame span input,.ModFrame textarea {border:#e2e2e2 solid 1px; background-repeat:repeat-x;background-position:left -626px;vertical-align:middle;color:#b3b3b3}

.searchbox,.searchtab .on,.tit01,.tit02,.tit03,.tit06,.tit07,.tit11,.vertit,.redtitbg,.rgraybg,.taglist .on,.taglist ul li,.friendLink p,.artTab .TabOn,.list table td textarea,.search span input,.data_search span input,.weekly span input,.toplogin span input,.list table td span input,.sidersearch p span input,.faqso span input,.stocks span input,.TabEmail span input,.tacregbar span input,.pages i input,.chooseTools td input,.userTitle input,.frame,.RegFrame input,.LoginFrame input,.ModFrame span input,.ModFrame textarea {background-image:url(/images/indexbg1218.png)}

.more,.more2,.more3,.topiclist .wlicon,.topiclist ul li,.list ul li,.list02 h2,.arrowlist h2,.reg01,.reg02,.reg03,.accoutit,.downinfo .video,.tit08,.arrowtitle,.Menu p a,.topguid span,.question,.answer,.arrowlist ul li,.arrowlist span a,.cpbox span a,.leftNav ul li,.stit,.tit10,.BookBox h2,.StockBox h2 {background-repeat:no-repeat}

/*页面架构*/
#Page_Container {text-align:left; position:relative}

#Container {padding:15px; text-align:left;overflow:hidden;_zoom:1;margin:0 auto;background-color:#fff; width:980px}
#Footer {margin:0 10px; border-top:#c60000 solid 2px; line-height:24px; text-align:center; clear:both; background-color:#fff}
#Footer div { background-color:#f1f1f1; height:24px}
#Footer p { line-height:24px}
#Footer img { width:102px; height:39px; vertical-align:middle; margin:10px 10px}

.Content {width:396px;margin-right:10px; float:left; display:inline;border-right:#e2e2e2 solid 1px}

.sider590L {width:590px; float:left;margin-right:10px; display:inline}
.sider380R {width:380px; float:left}

.sider285L {width:285px; float:left;padding-right:9px;border-right:#e2e2e2 solid 1px;display:inline}
.sider285R { width:285px; float:left; margin-left:8px} 

.Sider,.sider01,.sider02,.sider03,.sider04 {float:left;display:inline;}
.Sider {width:573px; overflow:hidden; zoom:1}
.sider01 { width:293px;margin-right:10px;}
.sider02 { width:270px}
.sider03 { width:288px;padding-right:9px;border-right:#e2e2e2 solid 1px}
.sider04 { width:265px;margin-left:10px}


.leftbox {margin-right:9px}
.leftbox h2,.list h2,.topiclist h2 {font-family:\9ED1\4F53; font-size:18px; line-height:36px;text-align:left; overflow:hidden; font-weight:normal}



.searchbox {margin:10px 10px 0; width:370px; height:61px;background-repeat:no-repeat;background-position:left -182px}

.searchtab {height:25px; line-height:25px;padding:0 10px;overflow:hidden;font-size:14px}
.searchtab span { display:block; float:left; width:50px;margin-right:1px; text-align:center;cursor:pointer}
.searchtab .on {height:25px;background-repeat:no-repeat;background-position:-500px -182px; font-weight:bold; color:#c60000}

.searchinput { height:26px; line-height:26px;width:280px; border-bottom:#d0d1d2 solid 1px; border-left:#838383 solid 1px; border-right:#d0d1d2 solid 1px; border-top:#838383 solid 1px;margin:3px 2px 2px 4px;_margin:2px 2px 2px 4px;+margin:3px 2px 2px 4px}


/*标题*/
.Otitle,.tit04,.title03{ background-image:url(../images/title980.png); background-repeat:no-repeat}

.title {height:30px; line-height:30px;font-weight:bold; font-size:14px}
.title span { font-weight:normal}
.title_s {height:26px; line-height:26px;font-weight:bold; font-size:12px}
.tit_k {background-position:-32px 5px; padding-left:20px; color:#666; margin-bottom:4px}
.title02 {height:24px; line-height:24px;text-align:left}
.title03 {height:26px; line-height:26px;text-align:left;background-position:right -60px;font-weight:bold; padding:0 10px 4px}
.Otitle {position:relative;background-position:right 0;height:26px; line-height:24px;text-align:left;font-weight:bold; padding:0 10px 4px}


.tit01 {background-position:left -243px;padding-left:26px; color:#c60000}
.tit02 {background-position:left -274px;padding:0 10px; color:#fff}
.tit03 {background-position:right -305px;; color:#fff}
.tit04 {background-position:right -30px; color:#c60000}
.tit05 {width:27px; border-right:#e2e2e2 solid 1px; line-height:14px; padding-top:10px; text-align:center; vertical-align:middle; height:86px}
.tit06 { font-size:14px;background-repeat:repeat-x;background-position:left -136px;color:#c60000; font-weight:bold; padding:0 10px}
.tit07 {background-position:left -355px;color:#fff; font-weight:bold; padding:0 10px}
.tit08 {background-position:right -304px;padding:0 12px 0 0;color:#c60000;display:inline-block;font-size:14px; line-height:24px}
.tit09 { border-bottom:#c60000 solid 2px; font-weight:bold; font-size:14px}
.tit10 {background-position:-20px -300px;color:#c60000;padding-left:15px; border-bottom:#e2e2e2 solid 1px}
.arrowtitle {background-position:-20px -305px;padding-left:15px}
.tit11 {font-size:14px;background-position:left -160px;padding:0 10px; border-bottom:#f8df94 solid 1px}
.vertit {background-position:-526px -545px; height:68px; width:24px; color:#fff; float:left;display:inline; text-align:center; line-height:100%; padding-top:8px;margin-right:5px}

/*列表*/
.topiclist {font-size:14px;padding:5px 0 5px 5px;}
.topiclist h1,.leftbox h1 {font-family:\9ED1\4F53;font-size:18px;font-weight:normal;line-height:30px; height:30px;}
.topiclist h1 {text-align:center;}
.topiclist h2 {text-align:center;font-size:14px;line-height:30px; height:30px; font-family:\5B8B\4F53; font-weight:bold}
.topiclist ul {}
.topiclist ul li {background-position:0 -272px; overflow:hidden; line-height:26px;}
/*	padding-left:10px}*/
.topiclist ul li span {padding-right:8px}
.topiclist ul li span a,.list ul li span a,.list02 ul li span a { color:#049}
.topiclist p b {line-height:24px;}
.topiclist .wlicon {background-position:10px -2px; padding-left:42px}
.topiclist .tblue,.topiclist .tblue a { font-family:\5B8B\4F53; color:#555;line-height:24px}

.list, .list02,.livelist {padding:5px; font-size:12px; line-height:24px;SCROLLBAR-FACE-COLOR: #fff;SCROLLBAR-HIGHLIGHT-COLOR: #dedede; SCROLLBAR-SHADOW-COLOR: #dedede; SCROLLBAR-3DLIGHT-COLOR:#fff; SCROLLBAR-ARROW-COLOR: #c60000; SCROLLBAR-TRACK-COLOR: #fff; SCROLLBAR-DARKSHADOW-COLOR: #fff; SCROLLBAR-BASE-COLOR: #dedede}
.list h1 {text-align:center}
.list ul, .list02 ul {}
.list ul li {background-position:0 -274px;line-height:24px; vertical-align:baseline;padding-left:10px}
.list02 ul li {overflow:hidden; line-height:24px; zoom:1}
.list span,.list02 span {padding-right:8px}
.list p,.topiclist p {line-height:18px; font-size:12px}

.list h2 {font-family:\9ED1\4F53; font-size:20px; line-height:36px; font-weight:normal}
.list table {}
.list table td,.list02 table td { line-height:24px;height:24px}
.list table td span input { height:18px; line-height:18px}
.list table td span textarea { line-height:24px}
.list table td img {margin:5px 0}

.list02 h2,.arrowlist h2 {font-size:12px; font-weight:normal; line-height:24px;background-position:0 -154px; padding-left:10px}
.list02 h1 { font-size:14px; line-height:30px; height:30px;font-family:宋体;}
.list02 .eye,.list .eye { background:url(/images/eyepic.gif) no-repeat left center; padding-left:72px; text-align:left}
.list02 .eye2 { background:url(/images/originpic.gif) no-repeat left center; padding-left:72px; text-align:left}
.list .eye { font-size:18px}
.list02 p {line-height:18px}
.list02 p a {padding-right:8px}

.arrowlist {padding:5px; overflow:hidden; zoom:1}
.arrowlist ul {}
.arrowlist ul li {line-height:24px;background-position:-24px -334px;padding-left:10px}
.arrowlist span { line-height:24px; overflow:hidden; zoom:1}
.arrowlist span a {width:64px;display:inline-block; float:left;background-position:-12px -334px;padding-left:20px}

.over300 li {width:300px}

.hotlist {font-size:12px;}
.hotlist h1 a,.hotlist h2 a,.hotlist h3 a,.siderlist h1 a {color:#222}
.hotlist h1,.siderlist h1 {font-family:\9ED1\4F53;font-size:20px;font-weight:normal;line-height:30px; height:30px;}
.hotlist h2,.siderlist h2 {font-size:14px;line-height:30px; height:30px; font-family:\5B8B\4F53; font-weight:bold}
.hotlist h3 { font-size:12px;font-weight:normal; line-height:24px}
.hotlist h4 { font-size:12px; font-weight:normal; line-height:30px}
.hotlist ul {padding-bottom:3px}
.hotlist ul li {overflow:hidden; line-height:24px;}
.hotlist ul li a {color:#555}
.hotlist ul li span {padding-right:8px}
.hotlist p { line-height:18px; font-size:12px}
.hotlist p a { color:#666}
.hotlist p b {line-height:24px;}
.hotlist table td { line-height:24px;height:24px}
.hotlist table td span input { line-height:22px; height:22px}

/*广告位*/
.bnr {margin:10px auto;clear:both; text-align:center}