<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="Keywords" content="{{ article_by_id.keywords }}">
<meta name="Description" content="{{ article_by_id.summary }}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title> 500 Error -红马私募simu88.com</title>
<link href="/static/css/reset.css" type="text/css" rel="stylesheet">
<link href="/static/css/common.css" type="text/css" rel="stylesheet">
<link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>
<body class="index_body">
<!--头部-->
<div id="header" >

  <div class="overall">
 
      <h1 class="logo"><a href="/" title="红马私募simu88.com">红马私募simu88.com</a></h1>
      
      <div class="header_nav">
    <a href="/">设为首页</a>
    <a href="/">加入收藏</a>
    <a href="">联系我们</a>
    <a href="">English Version</a>
    </div>
</div>
</div>
<div id="nav">
    <ul>
      <li class="selected"><a href="index.html" title="首页">首页</a></li>
      <li><a href="mall.html" title="">实盘账户展示 </a></li>
      <li><a href="game.html" title="">单一账户理财</a></li>
      <li><a href="activity.html" title="">私募基金产品</a></li>
      <li><a href="lesson.html" title=""> 至尊vip客户</a></li>
      <li><a href="invite.html" title="">红马简介</a></li>
        <li><a href="invite.html" title="">操盘团队</a></li>
      <li><a href="invite.html" title="">服务内容</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="banner"></div>
<div id="artical" >
<div class="overall">
<div class="artical_left">
 <h3 class="h3_on">帮助中心</h3>
    <ul class="submenu">
      <li class="on"><a href="" title="">新手上路</a></li>
      <li><a href="" title="">淘宝佣金</a></li>
      <li><a href="" title="">商城佣金</a></li>
      <li><a href="" title="">账户及提现</a></li>
    </ul>
   <h3><a href="#">客服在线</a></h3>
   <h3><a href="#">商务合作</a></h3>
   <h3><a href="#">关于私募</a></h3>
   <h3><a href="#">媒体报道</a></h3>
   <h3><a href="#">人才招聘</a></h3>
</div>
<div class="artical_right">
<div class="position ">您的位置：<a href="/" target="_blank">红马私募simu88.com</a> <span class="point"> ></span> <a href="/{{ gory_url }}/{{ gory_second_url }}.html" class="blue">{{ article_by_id.className }}</a></div>
  <div class="artical_list">
    <div class="artical_con">
      <h4>500 Error -红马私募simu88.com</h4>
      <div class="artical_con">
        500 Error  Please contacts us,红马私募simu88.com!!!
      </div>
    </div>
    <div class="clear"></div>
  </div></div>
  <div class="clear"></div>
  </div>
</div>
<!--页尾-->
{% include 'foot.html'%}
</div>
</body>
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/common.js" type="text/javascript"></script><script type="text/javascript" >
$(document).ready(function(){
    $(".u_tips .close,.clare .close").click(function(){
    $(this).parents(".u_tips,.clare").slideUp();
    })
    })
</script>
</html>
