<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>私募</title>
<link href="/static/css/reset.css" type="text/css" rel="stylesheet">
<link href="/static/css/style.css" type="text/css" rel="stylesheet">




</head>

<body class="index_body">
<!--头部-->
<div id="header" >

  <div class="overall">
 
      <h1 class="logo"><a href="index.html" title="私募888">私募888</a></h1>
      
      <div class="header_nav">
    <a href="">设为首页</a>
	<a href="">加入收藏</a>
	<a href="">联系我们</a>
	<a href="">English Version</a>
    </div>
</div>
</div>
<div id="nav">
    <ul>
      <li class="selected"><a href="index.html" title="首页">首页</a></li>
      <li><a href="mall.html" title="">实盘账户展示 </a></li>
      <li><a href="game.html" title="">单一账户理财</a></li>
      <li><a href="activity.html" title="">私募基金产品</a></li>
      <li><a href="lesson.html" title=""> 至尊vip客户</a></li>
      <li><a href="invite.html" title="">红马简介</a></li>
	        <li><a href="invite.html" title="">操盘团队</a></li>
      <li><a href="invite.html" title="">服务内容</a></li>

    </ul>
   
    <div class="clear"></div>
  </div>
    <div class="banner"></div>

<div id="artical" >
<div class="overall">
<div class="artical_left">

 <h3 class="h3_on">帮助中心</h3>
    <ul class="submenu">
      <li class="on"><a href="" title="">新手上路</a></li>
      <li><a href="" title="">淘宝佣金</a></li>
      <li><a href="" title="">商城佣金</a></li>
      <li><a href="" title="">账户及提现</a></li>
    </ul>
   <h3><a href="#">客服在线</a></h3>
   <h3><a href="#">商务合作</a></h3>
   <h3><a href="#">关于私募</a></h3>
   <h3><a href="#">媒体报道</a></h3>
   <h3><a href="#">人才招聘</a></h3>

  
  
</div>
  <div class="artical_right">

<div class="position">您的位置：<a href="#">我的私募网</a><span class="point"> ></span> <a href="#" class="blue">红包函私募</a></div>
      <div class="artical_list"> <h3>最新公告</h3>
      <ul class="artical_list_ul">
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="多麦联盟送元宵节，情人节双节大红包啦(第二期)">多麦联盟送元宵节，情人节双节大红包啦(第二期)</a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="多麦cps联盟春节放假通知">多麦cps联盟春节放假通知</a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">【公告】多麦cps联盟广告主后台开放啦！</a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">多麦cps广告联盟合作模式</a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><span class="red"><a href="#" title="">圣诞元旦双节同庆，现金大奖喜迎新年！独家超值回馈站长活动开始啦！（第一期）</a></span></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">【多麦cps广告联盟】佣金分成业内最高 </a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><span class="red"><a href="#" title="">重要通知：凡客10月份佣金结算变动</a></span></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">多麦cps广告联盟2011年"十一"放假通知</a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">关于禁止购买关键词的重要通知 </a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">佣金支付 </a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">放假通知 </a></li>
        <li><em>[2011-09-09]</em><span class="point">·</span><a href="#" title="">多麦cps广告联盟上线</a></li>
      </ul>
      <div class="page fr mr5">
        <ul>
          <li><span >45 条记录  1/5 页</span></li>
          <li class="selected"><a href="index.html">首页</a></li>
          <li><a href="#">上一页</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">下一页</a></li>
          <li><a href="#">尾页</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>



</div>



</div>
<!--页尾-->
<div id="footer">
  <div class="overall">
    <p class="footer_nav"><a href="#">公司地图</a><span class="point">|</span><a href="#">关于我们</a><span class="point">|</span><a href="#"> 广告服务</a><span class="point">|</span><a href="#">商产品与服务</a><span class="point">|</span><a href="#">合作伙伴</a><span class="point">|</span><a href="#">法律声明</a><span class="point">|</span><a href="#">人员招聘</a><span class="point">|</span><a href="#">联系我们</a> <span class="fs11">红马全球私募实战账户网址 2004-2011版权所有</span> </p>
  </div>
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5a88a04e2cfc1e01f030c3980be4fa23' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/common.js" type="text/javascript"></script><script type="text/javascript" >
$(document).ready(function(){
	$(".u_tips .close,.clare .close").click(function(){
	$(this).parents(".u_tips,.clare").slideUp();
	})
	})
</script>
</html>

