   <div class="col6 mrno">                
        <div class="mb" id="zixunxwny1">
            <!-- 新财网300250右侧上 -->
            <div id='div-gpt-ad-1367565490888-0' style='width:300px; height:250px;margin:auto;'>
            <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1367565490888-0'); });
            </script>
            </div>
        </div>
        <div class="tab_tit">
            <span class="select">最新股票知识</span>
        </div>
        <div class="br_box mb"> 
            <div class="bd pt10" id="tab_2_1">
                <ul class="over235">
                    {% for aright in articlesRight %}
                    <li><a href="/{{ aright.className }}/{{ aright.slug }}.html" target="_blank">{{ aright.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--凤凰2季
        <div class="topic_data">
            <div  class="br_box mb" style="background:url(/static/images/match_detail_288x64.png) no-repeat top center;padding-top:0"><a href="http:///" target="_blank"><img src="/static/images/space.png" width="268" height="30" /></a>﻿
            <div id="wlifengtopten"></div>
            <div id="divTradeDetail" class="mt6" style="height: 24px;"></div>
           </div>
        </div>-->
<!--最热门股票知识-->
<div class="br_box graybg"><div class="hd"><h3><span class='more f12'></span><span class="red"><a href='/' target='_blank'>·最热门股票知识</a></span></h3></div>
<div class="bd">
    <ul>
        {% for remen in articlesRemen %}
        <li><a href="/{{ remen.className }}/{{ remen.slug }}.html" target="_blank">{{ remen.title }}</a></li>
        {% endfor %}
    </ul>
</div>
</div>
    <!--最新股票热门关键词-->
    <div class="br_box mb">
    <div class="hd"><h3><span class="more f12"></span><span>最新股票热门关键词</span></h3></div>
    <div class="bd">
        <ul>
            {% for aright in articlesRight %}
                    <li><a href="/{{ aright.className }}/{{ aright.slug }}.html" target="_blank">{{ aright.keywords }}</a></li>
            {% endfor %}                        
        </ul>
    </div>
</div>  

    <div class="tab_tit">
        <span class="select" id="3_1">热门点击排行</span>
    </div>
    <div class="br_box mb">
    <div class="bd pt10" id="tab_3_1">
        <ul>
            <li class="b center"><a href="" target="_blank"></a><a href="" target="_blank">回滚测试</a></li>
            <li><a href="" target="_blank">轻访谈：</a><a href="" target="_blank">轻访谈：当前市场最大机会在哪？流感概念？</a></li>
            <li><a href="" target="_blank">情绪与偏差：</a><a href="" target="_blank">休整完毕 主力即将挥出“回马枪”</a></li>
            <li><a href="" target="_blank">资金与走势：</a><a href="" target="_blank">102亿恐慌流出 空军已是最后疯狂</a></li>
            <li><a href="" target="_blank">机会与风险：</a><a href="" target="_blank">巨大热点未充分挖掘 未来将烧红的“蓝海”</a></li>          
        </ul>
    </div>
    </div>
        <!--休闲娱乐-->
        <div class="br_box">
        <div class="hd">
            <h3 style="border-bottom: 1px solid hsl(0, 0%, 88%);">
            <span class="more f12"><a href="" target="_blank">
                更多</a></span><a href="" target="_blank">娱乐新闻</a></h3>
        </div>
        <div class="bd">
            <h4>
                <a href="" target="_blank">“小苍井空”火辣照 爆乳白嫩秀身材</a></h4>
            <ul>
                <li><a href="" target="_blank">成都男子闹市舌吻女雕塑 长达10余分钟</a></li>
                <li><a href="" target="_blank">张柏芝阿娇领衔众女星跳水 泳装示人身材暴露无遗</a></li>
                <li><a href="" target="_blank">苍井空代言中国网游 穿低胸装大呼好可怕(图)</a></li>
                <li><a href="" target="_blank">港媒曝张国荣55岁同性爱人愈情伤 交20岁新男友</a></li>
                <li><a href="" target="_blank">【组图】书记也摸人妖乳，党群面前立恶表 </a></li>
                <li><a href="" target="_blank">赵雅芝小儿子与女友亲密照曝光 四处旅行秀恩爱</a></li>
            </ul>
        </div>
        </div>
        <!--flash-->
        <div class="mb" id="zixunxwny2">
        <!-- <object classid="" codebase="/Flash/290.swf" width="290" height="230">
         <param name="movie" value="/Flash/290.swf">
                                <param name="quality" value="high">
                                <embed src="/Flash/290.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" 
                                 type="application/x-shockwave-flash" width="290" height="230">
                            </object>-->
        </div>
        <div class="br_box">
            <div class="hd"><h3>推荐内容</h3></div>
                <div class="bd">
                <div class="center mb" id="zixunxwny4"><a href="/yzq/index.html" target="_blank"><img src="" /></a></div>
                    <ul class="over235">
                        <li class="nums01"><a href="" target="_blank">土改主题遭爆炒 游资主力猎食股曝光</a></li>
                        <li class="nums02"><a href="" target="_blank">近10亿元大单抢筹83股（名单）</a></li>
                        <li class="nums03"><a href="" target="_blank">我国大交通格局呼之欲出 3年内投资规模将达4万亿</a></li>
                        <li class="nums04"><a href="" target="_blank">北京拟对房屋限价再出新招：现房也要限价（解读）</a></li>
                        <li class="nums05"><a href="" target="_blank">基金年报显露淘宝图 3行业成牛股集中营</a></li>
                        <li class="nums06"><a href="" target="_blank">46股成社基新宠 1板块最受关注</a></li>
                    </ul>
                </div>
            </div>   
        </div>